.content,
#app {
    height: 100%;
}

    #app .win-splitviewpanetoggle {
        float: left;
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: rgb(112,112,112);
}

#app .contenttext {
    margin-left: 20px;
    margin-top: 6px;
    background-image: url("../images/default.jpg");
    background-size: 100% auto;
    height: 70%;
    width: 80%;
}

/* Template for the items in the ListViews in this sample */       
.smallListIconTextItem
{
    width: 100%;
    height: auto;
    padding: 5px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

    .smallListIconTextItem img.smallListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        margin-right:20px;
    }

    .smallListIconTextItem .smallListIconTextItem-Detail
    {
        margin: 5px;
    }

   .listLayoutTopHeaderTemplateRoot, .gridLayoutLeftHeaderTemplateRoot {
        font-size: larger;
        margin-left: 16px;
    }
    
/* CSS applied to the ListViews in this sample */
#listView
{
    height: 100%;
}

.orderSection{
   position:absolute;
   right:5px;
   top  :5px;
   background: white;
   height: 100%;
   width: 17.75%;
}

.logoBar{
    margin-left: 20px;
    margin-top: 6px;
    background: white;
    height: 12.5%;
    width: 80%;
}

.lowerbar{
    margin-left: 20px;
    margin-top: 6px;
    background: white;
    height: 15%;
    width: 80%;
}

.callForService{
    background-color: #F2F2F2;
    height : 100px;
    width : 150px;
    /*margin: 0 auto;*/
    /*text-align: center;*/
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
}